<mat-toolbar color="primary">
    <button mat-button routerLink="/dashboard"><mat-icon>stars</mat-icon><span style="font-size: 20px"> College Connect </span><sup>Beta</sup></button>
    <button mat-button class="nav-btn" routerLink="/dashboard">Dashboard</button>
    <!-- <button mat-button class="nav-btn" routerLink="/forum">Forum</button> -->
    <button mat-button class="nav-btn" routerLink="/mentoring">Mentors</button>

    <span class="spacer"></span>
  
    <span *ngIf="auth.user | async as user; else notLoggedIn">
      <button mat-button [matMenuTriggerFor]="menu">
        <img id="avatar" [src]="user.photoURL" alt="Avatar"/>
        <span>&nbsp; {{ user.displayName }}</span>
      </button>
    </span>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/dashboard">Dashboard</button>
      <button mat-menu-item routerLink="/profile">Edit Profile</button>
      <button mat-menu-item routerLink="/logout" (click)="logout()" style="color: red">Logout</button>
    </mat-menu>
  
    <ng-template #notLoggedIn>
      <button mat-button routerLink="/login">
        <mat-icon>account_circle</mat-icon>
        <span> Login / Register</span>
      </button>
    </ng-template>
  </mat-toolbar>