
<div id="container">
    <h2>Fill out some information to create your profile:</h2>
    <mat-stepper [linear]="true" #stepper fxFlex="80%">
        <mat-step [stepControl]="profileForm" label="About">
            <form [formGroup]="profileForm">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Firstname Lastname" formControlName="name" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="example@email.com" formControlName="email" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="exampleuser12" formControlName="username" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Bio (optional)</mat-label>
                    <textarea matInput rows="5" placeholder="Share something about yourself..." formControlName="bio"></textarea>
                </mat-form-field>
                <div class="buttons">
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step label="School">
            <form [formGroup]="schoolForm">
                <mat-form-field appearance="outline">
                    <mat-label>School</mat-label>
                    <input matInput placeholder="Example High School" formControlName="school" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Year</mat-label>
                    <mat-select formControlName="year" required>
                        <mat-option value="Freshman">Freshman</mat-option>
                        <mat-option value="Sophomore">Sophomore</mat-option>
                        <mat-option value="Junior">Junior</mat-option>
                        <mat-option value="Senior">Senior</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" required>
                    <mat-label>Majors/Subjects</mat-label>
                    <mat-select [formControl]="subjects" multiple>
                      <mat-option *ngFor="let subject of subjectList" [value]="subject">{{subject}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Interests</mat-label>
                    <mat-select [formControl]="interests" multiple>
                      <mat-option *ngFor="let interest of interestList" [value]="interest">{{interest}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Mentor/Mentee?</mat-label>
                    <mat-select formControlName="role" required>
                      <mat-option value="Mentor">Mentor</mat-option>
                      <mat-option value="Mentee">Mentee</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="buttons">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" (click)="submit()" routerLink="/dashboard" matStepperNext>Finish</button>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
</div>
