#container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-stepper {
    margin-top: 8px;
    width: 50%;
    max-width: 800px;
}

.mat-form-field {
    margin-top: 10px;
}

.example-chip-list {
    width: 100%;
}

// Form styles
form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
}